@font-face {
    font-family: MS PGothic;
    src: url(https://fonts.google.com/specimen/Nanum+Gothic+Coding?query=Gothic);
}

.company{
    display: flex;
    margin-left: 1%;
}
.company-logo {
    width: 60px; 
}
.company-name {
    margin-top: 11px; 
    color: white;
    font-size: 25px;
    font-family: Spline Sans Mono;
    src: url(https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap);
}
.uplnehore{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.uplnehoretxt{
    margin-top: 15px;
    font-size: 14px;
    margin-right: 50px;
}
.discordLink{
    display: flex;
    gap: 10px;
    margin-right: 1%;
}
.button{
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid #7289d9;
    height: 30px;
    width: 205px;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 10, 10);
}
.buttontxt{
    opacity: 0.8;   
    padding-top: 4px;
    font-size: 14px;
    transition: 0.3s;
    color: white;
    font-weight: 700;
}
.dslogo{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}   
.buttontxt:hover{
    opacity: 2;
    color: white;
    transition: 0.5s ease-in-out;
}
.link{
    text-decoration: solid;
    color: rgb(10, 10, 10);
}
.vedlabuttontxt{
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    text-justify: center;
    color: white;
}

nav{
    background-color: rgb(10, 10, 10);;
    box-shadow: lightgray 0px 10px 30px;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-around;
    
    padding: 10px 10px 0px 10px;
    letter-spacing: 2px;
   
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav a:hover{
    background-color: rgb(26, 25, 25);
    color: red;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    color: red;
    background-color: rgb(10, 10, 10);;
    min-width: 160px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropbtn{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: rgb(10, 10, 10);
    border: 0   ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 2px;
}
.dropbtn:hover{
    background-color: rgb(26, 25, 25);
    color: red;
}