body{
    background-color: rgb(26, 25, 25);
    margin: 0;
  }
  @font-face {
      font-family: MS PGothic;
      src: url(https://fonts.google.com/specimen/Nanum+Gothic+Coding?query=Gothic);
  }

  
  .formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(36, 34, 34);
    padding: 25px;
    gap: 10px;
    box-shadow: lightgray 0px 0px 25px 5px;
  }
  .textDiv{
    display: flex;
    gap: 10px;
  }
  p{
    margin: 0;
    color: rgb(221, 221, 221);
  }
  a{
    margin: 0;
    color: rgb(219, 195, 195);
  }