body{
    background-color: rgb(26, 25, 25);
    margin: 0;
  }
  @font-face {
      font-family: MS PGothic;
      src: url(https://fonts.google.com/specimen/Nanum+Gothic+Coding?query=Gothic);
  }

#libraryContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}
.l{
    
    color: white;
    border-radius: 5px;
}
#homeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#homeButton:hover {
    background-color: #2980b9;
}
.game{
    text-decoration: none;
    color: white;
}
.novehryimg{
    width: 67.5px;
    height: 92.5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.text-content1 h2 {
    font-size: 30px;
    margin-bottom: 5px;
}
.text-content1 {
    flex: 1;
    color: white;
    margin-left: 10px;
}
.projectZ{
    color: white;
}
article {
    display: flex;
}

























  